@model Assignment_2__MVC__CodeFirst.Models.Entities.School

@{
    ViewBag.Title = "Details";
}



<div class="container">

    <h2>@Model.Name</h2>
    <hr />

    <div class="ditails-form text-center">
        <div class="row">
            <div class="col-md-3">
                <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Name):</label>
            </div>

            <div class="col-md-9">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="font-weight-bold">@Html.DisplayNameFor(model => model.StartDate):</label>
            </div>

            <div class="col-md-9">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Courses)</label> |
            @Html.ActionLink("New", "Create", "Courses", new { schoolId = @Model.ID }, new { onclick = "loadingShow();" })
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var c in Model.Courses)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(c.Title, "Details", "Courses", new { id = c.ID }, new { onclick = "loadingShow();" })&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Courses", new { id = c.ID }, new { onclick = "loadingShow();" }) |
                                @Html.ActionLink("Delete", "Delete", "Courses", new { id = c.ID }, new { onclick = "loadingShow();" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Trainers)</label> |
            @Html.ActionLink("New", "Create", "Trainers", new { schoolId = @Model.ID }, new { onclick = "loadingShow();" })
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var t in Model.Trainers)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(t.FullName, "Details", "Trainers", new { id = t.ID }, new { onclick = "loadingShow();" })&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Trainers", new { id = t.ID }, new { onclick = "loadingShow();" }) |
                                @Html.ActionLink("Delete", "Delete", "Trainers", new { id = t.ID }, new { onclick = "loadingShow();" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Students)</label> |
            @Html.ActionLink("New", "Create", "Students", new { schoolId = @Model.ID }, new { onclick = "loadingShow();" })
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var s in Model.Students)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(s.FullName, "Details", "Students", new { id = s.ID }, new { onclick = "loadingShow();" })&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Students", new { id = s.ID }, new { onclick = "loadingShow();" }) |
                                @Html.ActionLink("Delete", "Delete", "Students", new { id = s.ID }, new { onclick = "loadingShow();" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Assignments)</label> |
            @Html.ActionLink("New", "Create", "Assignments", new { schoolId = @Model.ID }, new { onclick = "loadingShow();" })
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var s in Model.Assignments)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(s.Title, "Details", "Assignments", new { id = s.ID }, new { onclick = "loadingShow();" })&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Assignments", new { id = s.ID }, new { onclick = "loadingShow();" }) |
                                @Html.ActionLink("Delete", "Delete", "Assignments", new { id = s.ID }, new { onclick = "loadingShow();" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { onclick = "loadingShow();" }) |
        @Html.ActionLink("Back to List", "Index", null, new { onclick = "loadingShow();" })
    </p>
</div>


<style>
    td {
        margin-right: 10px !important;
    }
</style>
