@model Assignment_2__MVC__CodeFirst.Models.Entities.School

@{
    ViewBag.Title = "Details";
}



<div class="container">

    <h2>@Model.Name Details:</h2>
    <hr />

    <div class="form-group">
        <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Name)</label>:
        @Html.DisplayFor(model => model.Name)&emsp;&emsp;
        <label class="font-weight-bold">@Html.DisplayNameFor(model => model.StartDate)</label>:
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Courses)</label> |
            @Html.ActionLink("New", "Create", "Courses")
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var c in Model.Courses)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(c.Title, "Details", "Courses", new { id = c.ID }, null)&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Courses", new { id = c.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "Courses", new { id = c.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Trainers)</label> | 
            @Html.ActionLink("New", "Create", "Trainers")
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var t in Model.Trainers)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(t.FullName, "Details", "Trainers", new { id = t.ID }, null)&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Trainers", new { id = t.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "Trainers", new { id = t.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div>
            <label class="font-weight-bold">@Html.DisplayNameFor(model => model.Trainers)</label> | 
            @Html.ActionLink("New", "Create", "Students")
            <div class="table-responsive" style="margin-top: 11px;">
                <table class="table table-striped table-hover">
                    @foreach (var s in Model.Students)
                    {
                        <tr class="text-center" scope="row">
                            <td scope="col">@Html.ActionLink(s.FullName, "Details", "Students", new { id = s.ID }, null)&emsp;</td>
                            <td scope="col">
                                @Html.ActionLink("Edit", "Edit", "Students", new { id = s.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "Students", new { id = s.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <br />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


<style>
    td {
        margin-right: 10px !important;
    }
</style>