@model IEnumerable<Assignment_2__MVC__CodeFirst.Models.Entities.School>

@{
    ViewBag.Title = "Index";
}

<h2>Schools List</h2>

@section HeroImage{
    <img class="hero-image" src="@Url.Content("~/Img/img1.jpg")" alt="School" />
    <div class="hero-text">
        <h1>Beast Schools</h1>
    </div>
}

@{
    // Get Users Roles
    RolePrincipal r = (RolePrincipal)User;
    var roles = r.GetRoles();

    if (User.Identity.IsAuthenticated)
    {
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Schools", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.TextBox("Search", "", "", new { placeholder = "Search", @class = "form-input" });
                <input type="submit" name="SaveButton" value="Save" />
            }
        </div>
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { onclick = "loadingShow();" })
            </p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr scope="row">
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th scope="col"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr scope="row">
                    <td scope="col">
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID }, new { onclick = "loadingShow();" })
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td scope="col">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { onclick = "loadingShow();" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { onclick = "loadingShow();" })
                    </td>
                </tr>
            }

        </table>
    </div>
} else {
    <div>
        Hello World
    </div>
}
}