@model Assignment_2__MVC__CodeFirst.Models.Entities.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.FullName)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.FullName)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.StartDate)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.School)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.School.Name)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Courses)
            </div>
            <div class="col-md-9">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var c in Model.Courses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => c.Title)&emsp;</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Courses", new { id = c.ID }, null) |
                                @Html.ActionLink("Details", "Details", "Courses", new { id = c.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "Courses", new { id = c.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Assignments)
            </div>
            <div class="col-md-9">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var a in Model.Assignments)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => a.Title)&emsp;</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Assignments", new { id = a.ID }, null) |
                                @Html.ActionLink("Details", "Details", "Assignments", new { id = a.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "Assignments", new { id = a.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <br />

    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", "Schools")
</p>
