@model Assignment_2__MVC__CodeFirst.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SchoolId, "School", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SchoolId, Model.Schools as SelectList, "Select School", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Courses, "Courses", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var c in Model.MyCourses)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => c.Title)&emsp;</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Courses", new { id = c.ID }, null) |
                            <div onclick="removeCourseFromStudent(@Model.ID, @c.ID);" style="float: right;" data-id="Model.ID"><a>Remove</a></div>
                            <script type="text/javascript">
                                function removeCourseFromStudent(studentId, courseId) {
                                    bootbox.confirm("Are you sure you want to delete?", function (result) {
                                        if (result) {
                                            $.ajax({
                                                type: "POST",
                                                url: "/api/Students/RemoveCourse",
                                                data: JSON.stringify(
                                                    {
                                                        "studentId": studentId,
                                                        "courseId": courseId
                                                    }
                                                ),
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                success: function (response) {
                                                    if (response != null) {
                                                        alert("Course Removed.");
                                                    } else {
                                                        alert("Something went wrong");
                                                    }
                                                    location.reload();
                                                },
                                                failure: function (response) {
                                                    location.reload();
                                                },
                                                error: function (response) {
                                                    location.reload();
                                                }
                                            });
                                        }
                                    });

                                };
                            </script>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Assignments, "Assignments", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var a in Model.MyAssignments)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => a.Title)&emsp;</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Assignments", new { id = a.ID }, null) |
                            @*<div onclick="removeAssignmentFromStudent(@Model.ID, @a.ID); return false;" style="float: right;"><a>Remove</a></div>*@
                            <button class="btn-link js-delete" onclick="return removeAssignmentFromStudent(@Model.ID, @a.ID);">Delete</button>
                            <script type="text/javascript">
                                function removeAssignmentFromStudent(studentId, assignmentId) {
                                    var button = $(this);
                                    bootbox.confirm("Are you sure you want to delete?", function (result) {
                                        if (result) {
                                            //$.ajax({
                                            //    url: "/Students/RemoveAssignment",
                                            //    method: "POST",
                                            //    data: JSON.stringify(
                                            //        {
                                            //            "studentId": studentId,
                                            //            "assignmentId": assignmentId
                                            //        }
                                            //    ),
                                            //    contentType: "application/json; charset=utf-8",
                                            //    dataType: "json"
                                            //}).done(function (data) {
                                            //    console.log(data);
                                            //    return false;
                                            //}).fail(function (error) {
                                            //    console.log(error);
                                            //});
                                            $.ajax({
                                                type: "POST",
                                                url: "/api/Students/RemoveAssignment",
                                                data: JSON.stringify(
                                                    {
                                                        "studentId": studentId,
                                                        "assignmentId": assignmentId
                                                    }
                                                ),
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                success: function (response) {
                                                    if (response != null) {
                                                        alert("Course Removed.");
                                                    } else {
                                                        alert("Something went wrong");
                                                    }
                                                    location.reload();
                                                },
                                                failure: function (response) {
                                                    location.reload();
                                                },
                                                error: function (response) {
                                                    location.reload();
                                                }
                                            });
                                        }
                                    });
                                };
                            </script>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedCourses, "Add Courses", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedCourses, Model.Courses, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedCourses, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedAssignments, "Add Assignments", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedAssignments, Model.Assignments, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedAssignments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Schools")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
