@model Assignment_2__MVC__CodeFirst.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal container text-center">
    <h4>Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SchoolId, "School", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SchoolId, Model.Schools as SelectList, "Select School", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Courses, "Courses", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                @foreach (var c in Model.MyCourses)
                {
                    <tr>
                        <td>@Html.ActionLink(c.Title, "Details", "Courses", new { id = c.ID }, new { @class = "main-col", onclick = "loadingShow();" })&emsp;&emsp;</td>
                        <td>
                            <div onclick="removeCourseFromStudent(@Model.ID, @c.ID);" style="float: right;" data-id="Model.ID"><a>Remove</a></div>
                            <script type="text/javascript">
                                function removeCourseFromStudent(studentId, courseId) {
                                    bootbox.confirm("Are you sure you want to delete?", function (result) {
                                        if (result) {
                                            $.ajax({
                                                type: "POST",
                                                url: "../../api/Students/RemoveCourse",
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                data: JSON.stringify(
                                                    {
                                                        "studentId": studentId,
                                                        "courseId": courseId
                                                    }
                                                )
                                            }).done(function (data) {
                                                loadingShow();
                                                location.reload();
                                            }).fail(function (error) {
                                                console.log(`Error: ${error}`);
                                            });
                                        }
                                    });

                                };
                            </script>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Assignments, "Assignments", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                @foreach (var a in Model.MyAssignments)
                {
                    <tr>
                        <td>@Html.ActionLink(a.Title, "Details", "Assignments", new { id = a.ID }, new { @class = "main-col", onclick = "loadingShow();" })&emsp;&emsp;</td>
                        <td>
                            <div onclick="removeAssignmentFromStudent(@Model.ID, @a.ID);" style="float: right;" data-id="Model.ID"><a>Remove</a></div>
                            <script type="text/javascript">
                                function removeAssignmentFromStudent(studentId, assignmentId) {
                                    var button = $(this);
                                    bootbox.confirm("Are you sure you want to delete?", function (result) {
                                        if (result) {
                                            $.ajax({
                                                type: "POST",
                                                url: "../../api/Students/RemoveAssignment",
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                data: JSON.stringify(
                                                    {
                                                        "studentId": studentId,
                                                        "assignmentId": assignmentId
                                                    }
                                                )
                                            }).done(function (data) {
                                                loadingShow();
                                                location.reload();
                                            }).fail(function (error) {
                                                console.log(`Error: ${error}`);
                                            });
                                        }
                                    });
                                };
                            </script>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedCourses, "Add Courses", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedCourses, Model.Courses, new { @class = "form-control", @id = "selectedCoursesListSt" })
            @Html.ValidationMessageFor(model => model.SelectedCourses, "", new { @class = "text-danger" })
            <br />
            <div style="width: 30%;">
                <button onclick="AddCoursesToStudent(@Model.ID); return false;" style="float:right;" class="btn btn-primary">Add</button>
                <script type="text/javascript">
                    function AddCoursesToStudent(studentId) {
                        var courses = [];
                        var listBox = $("#selectedCoursesListSt")[0];
                        for (var i = 0; i < listBox.options.length; i++) {
                            if (listBox.options[i].selected) {
                                var text = listBox.options[i].innerHTML;
                                var value = listBox.options[i].value;
                                courses.push(
                                    {
                                        "studentId": studentId,
                                        "courseId": value
                                    }
                                );
                            }
                        }
                        if (courses.length > 0) {
                            $.ajax({
                                type: "POST",
                                url: "../../api/Students/AddCourse",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify(courses)
                            }).done(function (data) {
                                loadingShow();
                                location.reload();
                            }).fail(function (error) {
                                console.log(`Error: ${error}`);
                            });
                        }
                    };
                </script>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedAssignments, "Add Assignments", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.SelectedAssignments, Model.Assignments, new { @class = "form-control", @id = "selectedAssignmentsListSt" })
            @Html.ValidationMessageFor(model => model.SelectedAssignments, "", new { @class = "text-danger" })
            <br />
            <div style="width: 30%;">
                <button onclick="AddAssignmentsToStudent(@Model.ID); return false;" style="float:right;" class="btn btn-primary">Add</button>
                <script type="text/javascript">
                    function AddAssignmentsToStudent(studentId) {
                        var assignments = [];
                        var listBox = $("#selectedAssignmentsListSt")[0];
                        for (var i = 0; i < listBox.options.length; i++) {
                            if (listBox.options[i].selected) {
                                var text = listBox.options[i].innerHTML;
                                var value = listBox.options[i].value;
                                assignments.push(
                                    {
                                        "studentId": studentId,
                                        "assignmentId": value
                                    }
                                );
                            }
                        }
                        if (assignments.length > 0) {
                            $.ajax({
                                type: "POST",
                                url: "../../api/Students/AddAssingment",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify(assignments)
                            }).done(function (data) {
                                loadingShow();
                                location.reload();
                            }).fail(function (error) {
                                console.log(`Error: ${error}`);
                            });
                        }
                    };
                </script>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" onclick="loadingShow();"/>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back", "Details", "Schools", new { Id = @Model.SchoolId }, new { onclick = "loadingShow();" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
