@model IEnumerable<Assignment_2__MVC__CodeFirst.Models.Entities.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Assignments", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.TextBox("Search", "", "", new { placeholder = "Search", @class = "form-input" });
            <input type="submit" name="SaveButton" value="Save" />
        }
    </div>
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { onclick = "loadingShow();" })
        </p>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.ID }, new { onclick = "loadingShow();" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { onclick = "loadingShow();" }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { onclick = "loadingShow();" })
        </td>
    </tr>
}

</table>
