<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Schools", "Index", "Schools", new { area = "" }, new { @class = "navbar-brand", onclick = "loadingShow();" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Schools", "Index", "Schools", null, new { onclick = "loadingShow();" })</li>-->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @RenderSection("HeroImage", required: false)

    <br />
    <br />
    <br />

    <div class="container body-content body">
        <div class="loading">
            Loading&#8230;
        </div>
        @RenderBody()
    </div>

    <div class="body-content">
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function loadingShow() {
            $(".loading").show();
        }
        function loadingHide() {
            window.setTimeout(function () {
                $(".loading").hide();
            }, 1000);
        }
        $(window).on('load', function () {
            //loadingShow();
        });
        $(window).ready(function () {
            loadingHide();
        });
    </script>

</body>
</html>
